
/target/
# Eclipse
.classpath
/*.project
.settings/
*.html
.properties
/screenShots


# Mac
.DS_Store
 
# Maven
/log/
/target/
test-output
/test-output/Default suite/Default test.html/
/.idea/

#Extentions
.html
.xml
bin/
Footer
.png
